.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: ;
  padding: 20px;
   width: 60%;
   margin: auto;
}
.grid-item {
  background-color: ##b7b7b7;
  border: rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.grid-list {
  background-color: ##b7b7b7;
  border: rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: left;
